<p>Salom</p>
<!-- <div class="container">
    <div class="row text-center">
    
      <h2><span>Turist Polist</span></h2>
    </div>
  </div>


  <table class="table table-hover w-75 mx-auto">
    <tbody>
      <tr>
        <th>1</th>
        <td class="w-100">Bloger</td>
        <td class="d-flex">
            <button class="btn btn-warning">Edit</button>&nbsp;
            <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr class="center">
            <button class="btn btn-danger">Add</button>
      </tr>
    </tbody>

</table> -->
